/node_modules
package-lock.json
.DS_Store
.firebase
.env
*.log
.idea

/static
firebase/public
app/common/modules/config.json
app/common/modules/config-local.json
app/notion/frontend
app/notion/frontend-2
app/notion/mobile
app/notion/admin.json




app/modules/notion/frontend
app/modules/notion/frontend-2
app/modules/notion/mobile
.idea/workspace.xml
