@import "../../../styles/vars.scss";
.testPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	margin: auto;
}

@media screen and (max-width: 480px) {
	.testPage-container {
		height: 100%;
		padding-bottom: 95px;
	}

	.testPage {
		width: 92vw;
		overflow: auto;
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	.testPage {
		width: 85vw;
	}
}

@media screen and (min-width: 1024px) {
	.testPage {
		width: 100%;
	}
}

/* .ant-pagination {
	color: $whiteColor;
	margin: 1rem 0;
}

.ant-pagination-simple .ant-pagination-simple-pager input {
	background-color: transparent;
	border-color: transparent;
	outline: transparent;
	padding: 0px;
	margin: 0px;
}

button.ant-pagination-item-link {
	color: $whiteColor;
}

.ant-pagination-item {
	border-radius: 15px;
	color: $whiteColor;
}

.ant-pagination-item-active:focus-visible,
.ant-pagination-item-active:hover {
	

}

.ant-pagination-item-active:focus-visible a,
.ant-pagination-item-active:hover a {
}

.ant-pagination-prev:focus-visible .ant-pagination-item-link,
.ant-pagination-next:focus-visible .ant-pagination-item-link,
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
	}


.ant-pagination-item-active {
	font-weight: 500;
	}

.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
	border-radius: 15px;
} */
