@import '../../../../styles/vars.scss';

.introInfo {
	display: flex;
	flex-direction: column;
	padding: 10px 15px;
}

.introInfo-block {
	&__question {
		font-weight: 600;
		color: $whiteColor;
	}
}
