@import '../../../../styles/vars.scss';

.miniTitle {
	color: $azureColor;
}

.bottom-question {
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 19px;
	color: white;
	width: 100%;
}
