@import '../../../../styles/vars.scss';

.forgotPasswordWrapper {
	display: flex;
	flex-direction: column;
}

.forgotPassword-header {
	position: relative;
	padding-bottom: 35px;
	width: 90vw;
	max-width: 500px;
}
