@import '../../../styles/search&selects.scss';
@import '../../../styles/vars.scss';
@import '../SkillProgressPage/SkillProgressVar.scss';

.pg__cell {
    width: $hexagonWidth;
    height: 90px;
    filter: brightness(50%);

    &:nth-child(2) {
        grid-column: 2;
		grid-row: 3;
    }
	&:nth-child(1),
    &:nth-child(3),
    &:nth-child(13) {
        grid-column: 1;
    }
	&:nth-child(7) {
		grid-column: 4;
		grid-row: 1;
	}

    &:nth-child(8) {
        grid-column: 5;
		grid-row: 1;
    }

    &:nth-child(9) {
        grid-column: 5;
		grid-row: 2;
    }

    &:nth-child(10) {
        grid-column: 6;
    }

    &:nth-child(22) {
        grid-column: 8;
    }

    &:nth-child(23) {
        grid-column: 11;
    }

    &:nth-child(15) {
        grid-column: 5;
    }

    &:nth-child(1),
    &:nth-child(2),
	&:nth-child(8),
	&:nth-child(7),
    &:nth-child(n+13):nth-child(-n+21) {
        margin-left: calc($hexagonWidth / 2);
    }

    &_in-progress {
        filter: brightness(1);
    }
}

.pg__skill-container {
    padding: 16px 14px;
    clip-path: polygon(0px 20%,
            50% 0px,
            100% 20%,
            100% 80.02%,
            50% 100%,
            0px 80%);
    background-color: rgba(255, 255, 255, 0.404);
}

.pg__skill {
    padding: 14px;
    clip-path: polygon(0px 20%,
            50% 0px,
            100% 20%,
            100% 80.02%,
            50% 100%,
            0px 80%);
    background-color: $whiteColor;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pg__skill_logo {
    width: 42px;
    height: 42px;
}
